@charset "utf-8";

@font-face {
	font-family: 'Edwardian';
	src: url('/assets/css/fonts/EdwardianScriptITC.woff') format('woff'),
		url('/assets/css/fonts/EdwardianScriptITC.ttf') format('truetype');
}

//========================================
//
// Init
//
//========================================

* {
	box-sizing: border-box;
}


html {
	min-height: 100%;
	font-size: 62.5%;
	font-family: 'Verdana',"游ゴシック", w"YuGothic", sans-serif;
	color: #666;
}

body {
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 62.5%;
}

input, textarea, label, select, option {
	font-size: 1.3rem;
	-webkit-appearance: none;
	appearance: none;
}

a {
	transition: color 0.1s linear;
	text-decoration: none;
	color: #4594c6;
	&:hover {
		color: #bbb;
	}
}

img {
	max-width: 100%;
	height: auto;
}
