/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-arrow {
	display: none !important;
}


.top-slide {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 340px;
	@media #{$small} {
		width: auto;
		height: auto;
	}
	&__ctrls {
		margin: 0;
		@media #{$small} {
			display: none;
		}
		&__prev, &__next {
			position: absolute;
			margin: 0;
			padding: 0;
			top: 0;
			list-style: none;
			background: rgba(0, 0, 0, 0.5);
			height: 367px;
			width: 50%;
			@media #{$small} {
				position: static;
				width: auto;
			}
		}
		&__prev {
			left: -480px;
		}
		&__next {
			right: -480px;
		}
	}
}

.mw_wp_form .error {
	font-size: 1.3rem !important;
}

/* pagenavi */
.wp-pagenavi {
	margin: 30px 0 0;
	text-align: center;
	a, span {
		border: 1px solid #e5e5e5;
		margin: 0 4px;
		padding: 6px 8px;
	}
	a:hover, span.current {
		background: #4594C6;
		border-color: #4594C6;
		color: #fff;
	}
}
