@charset "utf-8";

$baseWidth: 980px;
$baseColor: #333;
$baseBgColor: #fff;
$baseLinkColor: #44b3c0;
$baseFont: Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$imgPath: "../img";

$brakePoint01: 415px;
$brakePoint02: 620px;
$brakePoint03: 981px;
